.box {
  color: white;
  font-size: 30px;
  text-align: center;
}

.container {
  height: 700px;
  width: 700px;
  margin: 200px auto;
  background-color: black;
  box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr 1fr;
  grid-auto-flow: column dense;
}

.alignMe {
  grid-row-start: 2;
}
