@model List<Employee>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>İndex 2</h1>
    @foreach(Employee employee in Model)
    {
        <div class="lead">
            <p>@employee.Id</p>
            <p>@employee.FullName</p>
            <p>@employee.Age</p>
        </div>
    }
}
