body {
  background-color: red;
}
@media screen and (max-width: 1024px) {
  body {
    background-color: blue;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: green;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: gray;
  }
}

/* @media screen and (min-width:481px) and (max-width: 768px) {

} */
