@model IEnumerable<Candidate>

@if(Model.Count() > 0)
{
    <h6 class="display-6">applications</h6>
    <table class="table table-hover table-striped">
        <thread>
            <tr>
                <th>Email</th>
                <th>Fullname</th>
                <th>tarih</th>
                <th>kurs</th>
            </tr>
        </thread>
        <tbody>
            @foreach(Candidate candidate in Model)
            {
                <tr>
                    <td>@candidate.Email</td>
                    <td>@candidate.FullName</td>
                    <td>@candidate.ApplyAt</td>
                    <td>@candidate.SelectedCourse</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">
        kayıt yok tıkla
        <a class="alert-link" asp-action="Apply">apply</a>
    </div>
}


















